.account-page__right-block {
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
/* .my-orders__content {
} */
.right-block__title {
    font-size: 34px;
    font-weight: 600;
}
.my-orders__list-type {
    margin: 35px 0;
    display: flex;
    list-style: none;
    gap: 25px;
    cursor: pointer;
}
.my-orders__item-type {
    width: 115px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-orders__item-type:hover{
    border: 2px solid #FFAA2B;
    color: #FFAA2B;
    font-weight: 700;  
}
.my-orders__item-type--active {
    border: 2px solid #FFAA2B;
    color: #FFAA2B;
    font-weight: 700;   
}

.my-orders__all{
    display: flex;
    flex-direction: column;
    gap: 15px;
}