* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body{
  /* background: -webkit-linear-gradient(90deg, #e6e6e6,#bfbfbf);/* Chrome 10-25, Safari 5.1-6 */                                      
  background-color: #EEEEEE;
  /* max-width: 1440px;
  margin: 0 auto; */
  height: 100%;

}